*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(240deg 20% 10%),
    hsl(240deg 40% 2%)
  );
  height: 100svh;
  height: 100vh;
  border: 2px solid hsl(240deg 20% 20%);
  border-radius: 5px;
}

.particleButton {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 1rem;
  width: fit-content;
  margin-inline: auto;
  padding: 1rem 3rem;
  border: none;
  border-bottom: 3px solid hsl(240deg 90% 36%);
  border-radius: 6px;
  background: hsl(240deg 90% 48%);
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    border-bottom: 1px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.starLayer {
  position: fixed;
  z-index: -1;
  inset: 0;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
}

.star {
  position: absolute;
  animation: fadeIn 1000ms;
}
